<app-tarjetas [items]= "newSongs"></app-tarjetas>


<!-- <ul><li *ngFor="let pais of paises">{{pais.name}} - {{pais.population | number}}</li></ul> -->
    <!-- <div class="card-columns">
        <div class="card" *ngFor = "let song of newSongs">
            <img [src]="song.images | noimage" class="card-img-top" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{song.name}}</h5>
                <p class="card-text">
                    <span *ngFor="let artist of song.artists"
                    class="badge badge-pill badge-danger">{{artist.name}}</span>
                </p>
            </div>
        </div>
    </div> -->