<div class="row">
    <div class="col">
        <input #searching type="text" (keyup)="search(searching.value)" class="form-control" placeholder="Search Artist">
    </div>
</div>

<app-loading class="m-5" *ngIf="loading"></app-loading>

<app-tarjetas *ngIf="loading" [items]= "artists"></app-tarjetas>



<!-- <div class="card-columns m-5">
    <div class="card" *ngFor = "let artist of artists">
        <img [src]="artist.images | noimage" class="card-img-top" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{artist.name}}</h5>
            
        </div>
    </div>
</div> -->