<div class="row">
    <div class="col">
        <input #searching type="text" (keyup)="search(searching.value)" class="form-control" placeholder="Search Artist">
    </div>
</div>


<div class="card-columns">
    <div class="card" *ngFor = "let artist of artists">
        <img [src]="artist.images[0].url" class="card-img-top" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{artist.name}}</h5>
            <p class="card-text">
                <span *ngFor="let artist of song.artists"
                class="badge badge-pill badge-danger">{{artist.name}}</span>
            </p>
        </div>
    </div>
</div>